* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  transition: 200ms ease;
  background: #000;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 600px;
  transition: 200ms ease;
}

.button {
  width: 100%;
  max-width: 200px;
  height: 60px;
  margin: 10px;
  border-radius: 50px;
  outline: none;
  background: transparent;
  color: #a7a4a4;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  &:nth-child(1) {
    border: 2px solid red;
    box-shadow: red 0px 0px 10px 0px;
  }

  &:nth-child(2) {
    border: 2px solid orange;
    box-shadow: orange 0px 0px 10px 0px;
  }

  &:nth-child(3) {
    border: 2px solid rgb(117, 182, 33);
    box-shadow: rgb(117, 182, 33) 0px 0px 10px 0px;
  }

  &:nth-child(4) {
    border: 2px solid green;
    box-shadow: green 0px 0px 10px 0px;
  }

  &:nth-child(5) {
    border: 2px solid blue;
    box-shadow: blue 0px 0px 10px 0px;
  }

  &:nth-child(6) {
    border: 2px solid indigo;
    box-shadow: indigo 0px 0px 10px 0px;
  }

  &:nth-child(7) {
    border: 2px solid violet;
    box-shadow: violet 0px 0px 10px 0px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: none;
    font-weight: bold;
    letter-spacing: 3px;
  }
  &:nth-child(1):hover {
    background: red;
    color: white;
  }
  &:nth-child(2):hover {
    background: orange;
    color: white;
  }
  &:nth-child(3):hover {
    background: rgb(117, 182, 33);
    color: white;
  }
  &:nth-child(4):hover {
    background: green;
    color: white;
  }
  &:nth-child(5):hover {
    background: blue;
    color: white;
  }
  &:nth-child(6):hover {
    background: indigo;
    color: white;
  }
  &:nth-child(7):hover {
    background: violet;
    color: white;
  }
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 500px;
  transition: 200ms ease;
  border: 15px solid transparent;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    transition: 200ms ease;
  }
  .buttons {
    width: 100%;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 200ms ease;
  }
  .button {
    width: 35%;
    height: 50px;
    font-size: 14px;
  }
  .boxes {
    transition: 200ms ease;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 375px) {
  .boxes {
    transition: 200ms ease;
    width: 80%;
    height: 300px !important;
  }
}
